@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #e2e2e2;
    width: 100%;
    border-bottom: 1px solid var(--color-line-stroke-secondary);
    
    .focus {
        display: flex;
        flex: 1;
        max-width: 60rem;
        width: 100%;
        padding: 1rem 1rem;
        min-height: 2.5rem;
        flex-flow: row nowrap;
        gap: 2em;
        font-size: 0.32em;

        @media (max-width: 720px) {
            min-height: 3.5rem;
            font-size: 0.5em;
            flex-direction: column;
        }
    }
}

// Sections
.box {
    display: flex;

    &.hint {
        align-items: center;
        width: 100%;
        color: var(--color-text-description);
        line-height: 1.3;
    }
    &.widgetArea {
        display: flex;
        align-items: center;
        justify-content: start;

        .widget {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            height: 3em;
            padding: 0em 0.8em;
            border-radius: 0.53em;
            border: 1px solid var(--color-line-stroke-secondary);
            @include cursor(pointer);

            &.normal {
                color: var(--color-blue);
                border-color: var(--color-blue);
            }
            &.problem {
                color: var(--color-orange);
                border-color: var(--color-orange);
            }
            &.critical {
                color: var(--color-red);
                border-color: var(--color-red);
            }
        }
    }
}