@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    background-color: #090909;
    height: 30rem;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .focus {
        display: inline-flex;
        max-width: 60rem;
        width: 100%;
        flex: 1;
        align-items: end;
        justify-content: center;
        padding: 0em 2em;
        padding-bottom: 8rem;
    }
}

// Rays 
.rays {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    fill: none;
}