@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    justify-content: center;
    background-color: #8b2de9;
    color: #e2e2e2;
    width: 100%;
    border-bottom: 1px solid var(--color-line-stroke-secondary);
    
    .focus {
        display: flex;
        flex: 1;
        max-width: 60rem;
        width: 100%;
        padding: 1rem 1rem;
        min-height: 4.5rem;
        flex-flow: row nowrap;
        gap: 2em;
        font-size: 0.32em;

        @media (max-width: 720px) {
            min-height: 5.5rem;
            font-size: 0.5em;
            flex-direction: column;
        }
    }
}

// Sections
.box {
    display: flex;

    &.info {
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 0.8em;

        .capture {
            font-weight: 600;
            font-size: 1.8em;
            letter-spacing: 0.03em;
            line-height: 1.3;
        }
        .text {
            font-size: 1.3em;
            line-height: 1.3;
        }
    }
    &.active {
        align-items: center;
        justify-content: end;
        
        .action {
            font-size: 1.3em;
        }
    }
}