@use '@/assets/styles/_mixins.scss' as *;

$background-primary: #ffffff;
$outer-padding: 2rem 1rem;

.container {
    background-color: $background-primary;
    min-height: 30rem;
}
.grid {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    gap: 1px;
    padding: 0 1px;
    background-color: #e2e1e1;

    @media (max-width: 720px) {
        flex-direction: column;
        font-size: 1.5em;
    }

    .col {
        display: flex;
        flex: 1;

        &:nth-child(1) {
            flex: 1;
            flex-flow: column nowrap;
            gap: 1px;

            .row {
                display: flex;
                flex: 1;
                background-color: $background-primary;
                padding: $outer-padding;
                
                .title {
                    font-size: 0.7em;
                    font-weight: 600;
                    letter-spacing: 0.01em;
                    line-height: 1.1;

                    .contrast {
                        margin-top: 0.4em;
                        display: block;
                        width: 100%;
                        color: #adadad;
                    }
                }
            }
        }
        &:nth-child(2) {
            flex: 4;
            background-color: $background-primary;
        }
    }
}