@use '@/assets/styles/_mixins.scss' as *;

.block {
    display: flex;
    position: relative;
    height: 20rem;
    border-radius: 0.5em;
    background-color: #0b0b0b;
    overflow: hidden;

    .canvas {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #FFFFFF00, #0e0e0ec1);
        align-items: center;
        justify-content: center;
    }
    .grid {
        position: absolute;
        z-index: 1;
        right: 0px;
        top: 0px;
        height: 100%;

        .path {
            stroke: #1f1f1f;
        }
    }
}