@mixin theme {
  // ==================== CORE ====================
  --color-leader: #0e0e0e;                      // --color-leader
  
  // ==================== BACKGROUNDS ====================
  --color-background-primary: #0a0a0a;          // --color-background-primary
  --color-background-primary-invert: #ffffff;   // --color-background-primary-invert
  --color-background-secondary: #2d2d2d;        // --color-background-secondary
  --color-background-secondary-trans: rgba(36, 36, 36, 0.741); // --color-background-secondary-trans
  --color-background-tertiary: #141414;         // --color-background-tertiary
  --color-background-contrast: #f3f3f3;         // --color-background-contrast
  --color-background-input: #222222;            // --color-background-input
  --color-background-header: rgba(15, 15, 15, 0.9); // --color-background-header
  --color-background-modal-widget: #121212;

  // =================== ALTERNATIVE DESIGN ===================
  --color-alternative-primary: #e6e6e6;
  --color-alternative-secondary: #f0f0f0;
  
  // ==================== TEXT ====================
  --color-text-primary: #f5f5f5;                // --color-text-primary
  --color-text-secondary: #b8b8b8;              // --color-text-secondary
  --color-text-contrast: #111111;               // --color-text-contrast
  --color-text-description: #808080;            // --color-text-description
  
  // ==================== BORDERS & LINES ====================
  --color-border-primary: #333333;              // --color-border-primary-color
  --color-line-stroke-primary: #373737;         // --color-line-stroke-primary
  --color-line-stroke-secondary: #3e3e3ed0;     // --color-line-stroke-secondary
  
  // ==================== ICONS ====================
  --color-icon-primary: #eeeeee;                // --color-icon-primary
  --color-icon-primary-invert: #161616;         // --color-icon-primary-invert
  --color-icon-primary-unactive: #989898;
  
  // ==================== ACCENTS ====================
  --color-accent-primary: #49a3ff;              // --color-accent-primary
  --color-accent-primary-trans: #49a4ff77;
  --color-accent-primary-contrast: #eeeeee;     // --color-accent-primary-contrast
  --color-accent-secondary: #8e4ec6;            // --color-accent-secondary
  --color-accent-secondary-contrast: #eeeeee;   // --color-accent-secondary-contrast
  
  // ==================== STATUS ====================
  --color-status-error: #dc2626;                // --color-status-error
  --color-status-error-rgb: 220, 38, 38;        // --color-status-error-rgb
  
  // ==================== LINKS ====================
  --color-link-primary: #52a8ff;                // --color-link-primary

  --color-background-stylus: #151515;
}