@use '@/assets/styles/_mixins.scss' as *;

$background-primary: #ffffff;

.container {
    background-color: $background-primary;
    min-height: 30rem;
    padding: 5rem 0;
}
.grid {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    gap: 1em;

    .about {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.2em;

        .title {
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1.1;
        }
        .description {
            font-size: 0.8em;
            line-height: 1.2;
        }
    }
}