.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.focus {
  display: flex;
  flex: 1;
  max-width: 60rem;
  width: 100%;
  padding: 0 1rem;
  
  &.fullWidth {
    max-width: none;
  }
}