@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    justify-content: center;
    background-color: #000000;
    min-height: 100vh;
    
    .focus {
        display: inline-flex;
        max-width: 40rem;
        width: 100%;
        flex: 1;
        gap: 0em;
        padding: 0rem 0rem;
        padding-bottom: 3rem;
        flex-flow: column nowrap;
        color: #eee;
        font-size: 0.8em;
        border: 1px solid var(--color-line-stroke-secondary);

        @media (max-width: 720px) {
            font-size: 1.3em;
            max-width: 60rem;
            border: none;
        }

        .info {
            padding: 2rem;
            display: flex;
            font-size: 1em;
            flex-flow: column nowrap;
            gap: 0.3em;
            border-bottom: 1px solid var(--color-line-stroke-secondary);

            .title {
                font-weight: 600;
                letter-spacing: 0.02em;
                line-height: 1.2;

                .contrast {
                    color: #ffffff;
                }
            }
            .description {
                font-size: 0.5em;
                color: #d2d2d2;
                line-height: 1.3;
                max-width: 30rem;
            }
        }
        .currentStatus {
            padding: 1rem 2rem;
            display: flex;
            font-size: 0.5em;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0.3em;
            border-bottom: 1px solid var(--color-line-stroke-secondary);

            .capture {
                display: flex;
                width: 100%;
                font-weight: 600;
                letter-spacing: 0.02em;
                line-height: 1.2;
            }
            .status {
                display: inline-flex;
                white-space: nowrap;
                font-size: 0.9em;
            }
            &.normal {
                .status {
                    color: var(--color-blue);
                }
                .critical {
                    color: var(--color-red);
                }
                .problem {
                    color: var(--color-orange);
                }
            }
        }
        .sections {
            display: flex;
            gap: 1px;
            flex-flow: column nowrap;
            background-color: var(--color-line-stroke-secondary);
            font-size: 0.7em;

            .section {
                display: flex;
                background-color: #000000;
                padding: 2rem;
                flex-flow: column nowrap;
                gap: 1em;

                .capture {
                    font-size: 1em;
                    line-height: 1.2;

                    .secondary {
                        color: grey;
                    }
                }
                .calendar {
                    display: flex;
                    flex-flow: row wrap;
                    gap: 0.2rem;
                    justify-content: start;

                    .day {
                        display: inline-flex;
                        flex: 1;
                        height: 2rem;
                        background-color: rgb(40, 40, 40);

                        &.normal {
                            background-color: var(--color-blue);
                        }
                        &.critical {
                            background-color: var(--color-red);
                        }
                        &.problem {
                            background-color: var(--color-orange);
                        }
                    }
                }
                ._meta {
                    font-size: 0.6em;
                    color: grey;
                    font-weight: 400;
                    line-height: 1.3;
                }
            }
        }
    }
}