@use '@/assets/styles/_mixins.scss' as *;

.canvas {
    display: flex;
    background-color: #000000;
    height: 29rem;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .container {
        position: absolute;
        z-index: 15;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background: linear-gradient(180deg, transparent, #0101013e);
        
        .focus {
            display: inline-flex;
            max-width: 60rem;
            width: 100%;
            flex: 1;
            align-items: center;
            justify-content: end;
            gap: 0.5em;
            padding: 0em 2em;
            padding-bottom: 3rem;
            flex-flow: column nowrap;
            color: #eee;

            @media (max-width: 720px) {
                font-size: 1.1em;
            }
        }
    }
    @media (max-width: 720px) {
        height: 35rem;
    }
}

.logo {
    display: inline-flex;
    font-size: 2.2em;
    margin-bottom: 0.3em;
}
.capture {
    display: inline-flex;
    font-size: 1em;
    font-weight: 600;
    flex-flow: row nowrap;
    gap: 0.6em;
    line-height: 1.2;
    color: #ffffffc4;

    .contrast, .primary {
        display: inline-flex;
    }
    .contrast {
        color: rgb(127, 80, 203);
        font-size: 1.7em;
        justify-content: end;

        @media (max-width: 720px) {
            font-size: 2em;
        }
    }
}