@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    background-color: #000000;
    height: 32rem;
    justify-content: center;

    .focus {
        display: inline-flex;
        max-width: 60rem;
        width: 100%;
        flex: 1;
        align-items: center;
        justify-content: end;
        gap: 0.5em;
        padding: 0em 2em;
        padding-bottom: 3rem;
        flex-flow: column nowrap;
        color: #eee;

        @media (max-width: 720px) {
            font-size: 1.1em;
        }
    }
    @media (max-width: 720px) {
        height: 35rem;
    }
}

.logo {
    display: inline-flex;
    font-size: 2.2em;
    margin-bottom: 0.3em;
}
.capture {
    display: inline-flex;
    font-size: 1em;
    font-weight: 600;
    flex-flow: row nowrap;
    gap: 0.6em;
    line-height: 1.2;
    color: #ffffffc4;

    .contrast, .primary {
        display: inline-flex;
    }
    .contrast {
        color: rgb(127, 80, 203);
        font-size: 1.7em;
        justify-content: end;

        @media (max-width: 720px) {
            font-size: 2em;
        }
    }
}