@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    background-color: #000000;
    height: 30rem;
    justify-content: center;

    .focus {
        display: inline-flex;
        max-width: 60rem;
        flex: 1;
        align-items: end;
        justify-content: center;
        padding: 0em 2em;
        padding-bottom: 6rem;
    }
}


// Block
.block {
    display: inline-flex;
    flex-flow: row wrap;
    gap: .07em .15em;
    font-size: 6em;

    .line {
        display: inline-flex;
        width: 100%;
        font-size: .4em;
        font-weight: 600;
        color: #cacaca;
        align-items: end;
    }
}


// Matrix One
@keyframes show-logo {
    0% {
        padding-top: 1em;
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        padding-top: 0em;
        opacity: 1;
        transform: scale(1);
    }
}
.logo {
    font-size: 2.4em;
    color: #eee;
    font-weight: 600;
    height: 1em;
    overflow: hidden;
    animation: show-logo 0.5s forwards;

    .contrast {
        color: var(--color-brand);
        text-shadow: 0 0 1px #eee;
    }
}